html, body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.login-form {
    height: 50%;
    width: 500px;
    display: flex;
    flex-direction: column;
}

.login-form__fields {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-form__actions {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form__label {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    width: 50%;
}

.login-form__input {
    margin-top: 8px;
    height: 24px;
    outline: none;
    padding: 4px;
    border: 1px solid #878f99;
    border-radius: 4px;
}

.login-form__btn {
    font-size: 20px;
    background-color: white;
    border: 1px solid #878f99;
    border-radius: 4px;
    padding: 8px;
    outline: none;
}


.login-form__btn:hover {
    background-color: lavender;
    color: white;
}

@media screen and (max-width: 1024px) {
    .login-form {
        height: 50%;
        width: 100%;
    }
}
